# Ignore Virtual Environments 
.venv
venv/
env/
.env

# Ignore pycache
__pycache__/
__pycache__
/__pycache__
*.py[cod]
*$py.class
*.cpython-39.pyc
.cpython-39.pyc

# Distribution / packaging
.Python
build/
lib/
lib64/